fastapi
uvicorn
supabase
python-dotenv
python-multipart
pydantic
pydantic-settings
requests
httpx
openai
Pillow
pydub
qrcode
python-jose[cryptography]
passlib[bcrypt]
bcrypt
opencv-python-headless
numpy
google-genai
scikit-learn
joblib
pandas

